<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cinépolis</title>
  <style>
    body {
      background-image: url("/assets/cinepolis.webp");
      background-size: cover;     
      background-position: center; 
      background-repeat: no-repeat; 
      height: 100vh;               
      margin: 0;     
    }
  </style>
</head>
<body class="bg-primary text-white">

  <div class="text-center mt-4">
      <h3 class="fw-bold text-white">🎬 Cinépolis</h3>
  </div>
  <div class="container mt-5">

    <div class="card shadow p-4">
      <div class="row">
        
        <!-- Entradas -->
        <div class="col-md-6">
          <h5 class="fw-bold text-primary">Entradas</h5>
          
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
          </div>

          <div class="mb-3">
            <label for="cantidadCompradores" class="form-label">Cantidad Compradores:</label>
            <input [(ngModel)]="cantidadCompradores" name="cantidadCompradores" type="number" class="form-control" id="cantidadCompradores" placeholder="# Compradores">
          </div>

          <div class="mb-3">
            <label class="form-label">Tarjeta Cineco:</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="tarjetaCineco" name="tarjetaCineco" value="si" id="tarjetaSi">
              <label class="form-check-label" for="tarjetaSi">Sí</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [(ngModel)]="tarjetaCineco" name="tarjetaCineco" value="no" id="tarjetaNo">
              <label class="form-check-label" for="tarjetaNo">No</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="cantidadBoletos" class="form-label">Cantidad de boletos:</label>
            <input [(ngModel)]="cantidadBoletos" name="cantidadBoletos" type="number" class="form-control" id="cantidadBoletos" placeholder="Cantidad de Boletos">
          </div>
        </div>

        <!-- Salidas -->
        <div class="col-md-6">
          <h5 class="fw-bold text-primary">Salidas</h5>
          <div class="mb-3">
            <label class="form-label">Valor a Pagar:</label>
            <input type="text" readonly class="form-control" value="{{ pagoFinal }}">
            <div>
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Acciones -->
      <div class="mt-4">
        <h5 class="fw-bold text-primary">Acciones</h5>
        <div class="d-flex gap-2">
          <button (click)="acciones()" type="button" class="btn btn-primary">Procesar</button>
          <button type="button" class="btn btn-secondary">Salir</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
